[Unit]
Description=Beagle OS endpoint healthcheck
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/beagle-healthcheck
