[Unit]
Description=Thinclient Runtime Session
Documentation=file:///usr/local/lib/pve-thin-client/README.md
ConditionKernelCommandLine=pve_thin_client.mode=runtime
ConditionPathExists=/usr/local/bin/pve-thin-client-start-x11
After=local-fs.target systemd-user-sessions.service plymouth-quit-wait.service getty-pre.target network-online.target
Wants=plymouth-quit-wait.service network-online.target
Conflicts=getty@tty1.service
Before=getty@tty1.service

[Service]
Type=simple
User=thinclient
Group=thinclient
WorkingDirectory=/home/thinclient
Environment=HOME=/home/thinclient
Environment=USER=thinclient
Environment=LOGNAME=thinclient
Environment=SHELL=/bin/bash
Environment=XDG_RUNTIME_DIR=/run/user/1000
PermissionsStartOnly=yes
ExecStartPre=/usr/bin/install -d -m 0700 -o thinclient -g thinclient /run/user/1000
ExecStart=/usr/local/bin/pve-thin-client-start-x11
StandardInput=tty-force
StandardOutput=tty
StandardError=tty
TTYPath=/dev/tty1
TTYReset=yes
TTYVHangup=yes
TTYVTDisallocate=yes
Restart=on-failure
RestartSec=2

[Install]
WantedBy=multi-user.target
